$primaryFont: 'Thesis Sans', sans-serif;
// $secondaryFont: 'Whitney', sans-serif;


@font-face {
    font-family: 'Thesis Sans', sans-serif;
    src: url("./Thesis") format("ttf");
}

// @font-face {
//     font-family: 'Whitney', sans-serif;
//     src: url("../fonts/Whitney/OpenType") format("opentype");
// }


// Blues
$royal: rgba(35, 86, 149, 1.0);
$navy: rgba(22, 52, 92, 1.0);
$carolinaBlue: rgba(95, 161, 216, 1.0);
$skyBlue: rgba(169, 207, 239, 1.0);

// Oranges
$burnt: rgba(228, 115, 35, 1.0);
$orange: rgba(247, 148, 29, 1.0);
$tangerine: rgba(255, 187, 19, 1.0);
$lemon: rgba(255, 218, 3, 1.0);

// Greens
$green: rgba(68, 149, 58, 1.0);
$avocado: rgba(187, 215, 46, 1.0);

// Extra Color:
$brown: rgba(199, 154, 107, 1.0);
$shale: rgba(141, 134, 134, 1.0);
$lightGray: rgba(205, 205, 192, 1.0);
