# dependencies
front-end-section/node_modules

# testing
front-end-section/src/.jshintrc
front-end-section/src/styles/app.css.map
front-end-section/src/styles/.sass-cache

# production

# misc
.DS_Store
npm-debug.log*
