.matchup__container {
  display: flex;
  flex-flow: column nowrap;
  margin: 4px 0;
  width: 100%;
}



.team__container {
  background-color: $almost;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  // height: 50px;
  width: 100%;

  .team__info {
    color: $tangerine;
    max-height: 25px;
    max-width: 25px;
    padding: 1px;
    margin: 3px 3px 0 3px;
    }

  .team__logo {
    max-height: 32px;
    max-width: 32px;
    }

  .team__seed {
    margin: 5px 3px;
    }

  .team__name {
    margin: 5px 3px;
    font-size: 14px;
    font-weight: 600;
  }
  :active {
    background-color: $lemon;
  }
}


.team__selected { // team selected
  background-color: $avocado;
}
.team__not__selected { // team selected
  background-color: $burnt;
}
