
.round_64__container {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  border: 1px solid pink;
  width: 210px;
}

.bracket__connect64-32 {
  width: 50px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.round_32__container {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  border: 1px solid pink;
  width: 200px;

}
.round_16__container {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  border: 1px solid pink;
  width: 200px;

}
.round_8__container {


}
.round_4__container {


}
.round_2__container {


}
.round_1__container {


}
