.main__bracket {
  background-color: $avocado;
  border: 5px solid $orange;
}

.region__A {
  background-color: $burnt;
  border: 5px solid $navy;
}

.region__B {
  background-color: $lemon;
  border: 5px solid $navy;
}
