.main__bracket {
  background-color: $avocado;
  border: 5px solid $orange;
}

.region__A {
  background-color: $burnt;
  border: 5px solid $navy;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.region__B {
  background-color: $lemon;
  border: 5px solid $navy;
}
