

.region__A {
  // background-color: $burnt;
  border: 5px solid $navy;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 50%;
}

.region__B {
  // background-color: $lemon;
  border: 5px solid $navy;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 50%;
}
