.round_64__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px;
  width: 210px;
    .matchup__container:nth-child(1) {
      order: 1;
    }
    .matchup__container:nth-child(2) {
      order:8;
    }
    .matchup__container:nth-child(3) {
      order: 6;
    }
    .matchup__container:nth-child(4) {
      order: 4;
    }
    .matchup__container:nth-child(5) {
      order: 3;
    }
    .matchup__container:nth-child(6) {
      order: 5;
    }
    .matchup__container:nth-child(7) {
      order: 7;
    }
    .matchup__container:nth-child(8) {
      order: 2;
    }

}

.round_32__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;
}
.round_16__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;

}
.round_8__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px;

}
.round_4__container {


}
.round_2__container {


}
.round_1__container {


}
