

// kipp button style !
.kippBtn {
  background-color: $royal;
  border-radius: 5px;
  color: $almost;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 35px;
}

// main container for app
.app__container {

}
