.header__container {
  background-color: $almost;
  border-bottom: 5px solid $royal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.header__logo {
  max-height: 100px;
  max-width: 25%
}

.header__homerooom {
  h1 {
    width: 100%;
  }
}

.header__logout {
  display: flex;
  align-items: center;
  max-height: 50px;
}
.header__logout:hover {
  background-color: $burnt;
  color: $almost;
  border: 5px solid $royal;
}
