.header__container {
  background-color: $almost;
  border-bottom: 5px solid $royal;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  height: 87px;
  margin: 1% 5%;
  width: 300px;
}

.header__homerooom {
  
}

.header__logout {
  margin: 2% 0;
  margin-right: 5%;
}
