.research__container {
  padding-top: 5px;
  display: flex;
  width: 100%;
}
.info__full_container {
  display: flex;
  width: 50%;
  flex-flow: column;
  align-items: center;
}

.info__mascot_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info__container {
  width: 250px;
  border: 3px solid $burnt;
  border-radius: 5px;
  background-color: $almost;
  text-align: center;
  margin: 10px;

.info__title {
  font-size: 1.3rem;
  color: $almost;
  background-color: $burnt;
  margin-top: 0;
  margin-bottom: 0;
  }

.info__info {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  }
}

.info__mascot_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: $almost;
  border-radius: 50%;
}
.info__container-avo {
  width: 250px;
  border: 3px solid $green;
  border-radius: 5px;
  background-color: $almost;
  text-align: center;
  margin: 10px;

  .info__title-avo {
    background-color: $green;
    font-size: 1.3rem;
    color: $almost;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}
