.teacher__inbox {
    background: $almost;
    border: 2px solid $royal;

    width: 60%;
    margin: 2%;

    .inbox__header {
      background: $royal;
      color: $almost;
      font-weight: 700;
      height: 50px;
      margin: 0 auto;
      padding: 2%;
      text-align: center;
      width: 100%;
    }
    .inbox__messages {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 1% 1%;
      width: 100%;

        .inbox__single {
          background: #fff;
          min-height: 150px;
          margin: 1% auto;
          overflow: hidden;
          padding: 1% 2%;
          width: 45%;

          p {
            margin-bottom: 10%;
          }
        }
        .button__holder {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .inbox__pass, .inbox__fail {
            background-color: $avocado;
            border: none;
            color: $royal;
            font-size: 1rem;
            padding: 1% 0;
            width: 40%;
          }
          .inbox__fail {
            background-color: $tangerine;
          }

          .inbox__pass:hover, .inbox__fail:hover {
            animation: scale2 .5s both;
          }
        }

      }
    }

.transparent {
  background-color: transparent;
  width: 100%;
}

.message__processed {
  max-height: 100%;
  max-width: 100%;
}

.overlay {
  background-color: rgba($shale, .6);
  height: 100%;
  width: 100%;
  z-index: 100;
}
