@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Roboto:400,400i,500,700");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font: 16px/1.25 "Roboto", sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

*,
*:after,
*:before {
  box-sizing: border-box; }

::-moz-selection {
  color: #fff;
  background: #2c3e50; }

::selection {
  color: #fff;
  background: #2c3e50; }

.is-hidden {
  display: none; }

.is-visible {
  display: inline-block; }

a {
  color: inherit;
  text-decoration: none; }

a:visited {
  text-decoration-style: none;
  color: inherit; }

.is-centered {
  text-align: center; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
@keyframes scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }
.kippBtn {
  background-color: #235695;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 35px; }

.header__container {
  background-color: #f2f2f2;
  border-bottom: 5px solid #235695;
  display: flex;
  justify-content: center;
  width: 100%; }

.header__logo {
  max-height: 100px;
  margin: 1% auto;
  max-width: 25%; }

.header__homerooom {
  margin: 1% auto;
  text-align: center; }
  .header__homerooom h1 {
    width: 100%; }

.header__logout {
  margin: 2% auto;
  max-height: 50px; }

.header__logout:hover {
  background-color: #ffda03;
  color: #235695; }

.component__container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  width: 100%; }

.region__common {
  border: 5px solid #16345c;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: relative;
  width: 100%; }

.region__finals-titles {
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  width: 100%; }

.region {
  border: 5px solid #16345c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  width: 100%; }
  .region .sign__east {
    border: 5px solid #16345c;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 0; }
    .region .sign__east .sign__span-east {
      font-size: 30px;
      font-weight: 600;
      color: #2d2d2d;
      padding: 15px 35px; }

.region__A1 {
  border: 5px solid #16345c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  width: 100%; }
  .region__A1 .sign__east {
    border: 5px solid #16345c;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 0; }
    .region__A1 .sign__east .sign__span-east {
      font-size: 30px;
      font-weight: 600;
      color: #2d2d2d;
      padding: 15px 35px; }

.region__A2 {
  border: 5px solid #16345c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  width: 100%; }
  .region__A2 .sign__west {
    border: 5px solid #16345c;
    top: 0;
    left: 50%;
    height: 50px;
    position: absolute; }
    .region__A2 .sign__west .sign__span-west {
      font-size: 30px;
      font-weight: 600;
      color: #2d2d2d;
      padding: 15px 35px; }

.region__B1 {
  border: 5px solid #16345c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: relative;
  width: 100%; }
  .region__B1 .sign__midwest {
    border: 5px solid #16345c;
    left: 50%;
    height: 50px;
    position: absolute;
    top: 0; }
    .region__B1 .sign__midwest .sign__span-midwest {
      color: #2d2d2d;
      font-size: 30px;
      font-weight: 600;
      padding: 15px 35px; }

.region__B2 {
  border: 5px solid #16345c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: relative;
  width: 100%; }
  .region__B2 .sign__south {
    border: 5px solid #16345c;
    top: 0;
    height: 50px;
    left: 50%;
    position: absolute; }
    .region__B2 .sign__south .sign__span-south {
      font-size: 30px;
      font-weight: 600;
      color: #2d2d2d;
      padding: 15px 35px; }

.matchup__container {
  display: flex;
  flex-flow: column nowrap;
  margin: 4px 0;
  width: 100%; }

.team__container {
  background: rgba(242, 242, 242, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%; }
  .team__container .team__info {
    color: #ffbb13;
    max-height: 25px;
    max-width: 25px;
    padding: 1px;
    margin: 3px 3px 0 3px; }
  .team__container .team__logo {
    max-height: 32px;
    max-width: 32px; }
  .team__container .team__seed {
    margin: 5px 3px; }
  .team__container .team__name {
    margin: 5px 3px;
    font-size: 14px;
    font-weight: 600; }
  .team__container :active {
    background-color: #ffda03; }

.team__container:hover {
  background: #f2f2f2; }

.team__pick {
  background-color: blue; }

.team__selected {
  background-color: #bbd72e; }

.team__not__selected {
  background-color: #e47323; }

.team__logo-final {
  width: 150px;
  height: 150px; }

.round_64__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px;
  width: 210px; }

.round_32__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px; }

.round_16__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px; }

.round_8__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px; }

.round_4__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px; }

.round_2__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 10px;
  width: 200px; }

.round_1__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10px;
  width: 200px; }

h1 {
  margin: 0 auto;
  text-align: center;
  width: 100%; }

.login__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%; }
  .login__container .login__button {
    background: #235695;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 3% auto;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 100%; }

.confirm__button, .confirm__link {
  background: #235695;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 20%; }

.confirm__yes:active {
  background-color: #bbd72e; }

.confirm__no {
  background: #235695;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 3%;
  width: 95%; }

.confirm__link:active, .confirm__no:active {
  background-color: #e47323; }

.teacher__nav {
  background: #235695;
  margin: 0 auto;
  width: 100%; }
  .teacher__nav ul {
    display: flex;
    height: 70px;
    justify-content: center;
    margin: 0 auto; }
    .teacher__nav ul .teacher__nav__item {
      border-radius: 5px;
      color: #f2f2f2;
      font-weight: 700;
      margin: 1% 2%;
      padding-top: 1%;
      padding-bottom: 3%;
      text-align: center;
      width: 20%; }
    .teacher__nav ul .teacher__nav__item:hover {
      animation: shake 0.75s cubic-bezier(0.16, 0.07, 0.19, 0.9) both;
      background-color: #ffda03;
      color: #235695; }

.welcome__message {
  text-align: center; }

.teacher__things__container {
  display: flex;
  width: 100%; }

.teacher__inbox {
  background: #f2f2f2;
  border: 2px solid #235695;
  width: 60%;
  margin: 2%; }
  .teacher__inbox .inbox__header {
    background: #235695;
    color: #f2f2f2;
    font-weight: 700;
    height: 50px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    width: 100%; }
  .teacher__inbox .inbox__messages {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 2%; }
    .teacher__inbox .inbox__messages .inbox__single {
      background: #fff;
      margin: 1%;
      padding: 1% 2%;
      width: 30%; }
    .teacher__inbox .inbox__messages .inbox__pass, .teacher__inbox .inbox__messages .inbox__fail {
      background-color: #bbd72e;
      border: none;
      border-radius: 5px;
      margin: 5% 5%;
      width: 40%; }
    .teacher__inbox .inbox__messages .inbox__fail {
      background-color: #e47323; }
    .teacher__inbox .inbox__messages .inbox__pass:hover, .teacher__inbox .inbox__messages .inbox__fail:hover {
      animation: scale .5s both; }

.table {
  width: 100%;
  height: 100%; }

.row {
  width: 100%;
  min-height: 1px;
  height: auto;
  margin: 0; }

.cell {
  float: left;
  margin: 0;
  padding: 0; }

.onecol {
  width: 100%; }

.twocol {
  width: 50%; }

.pickClass__container {
  display: flex;
  flex-flow: column nowrap;
  line-height: 2.5;
  text-align: center;
  width: 30%;
  margin: 2%; }
  .pickClass__container .pickClass__title {
    background: #235695;
    color: #f2f2f2;
    font-weight: 700;
    height: 50px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    width: 100%; }
  .pickClass__container .pickClass__items li:hover {
    animation: scale 0.25s both;
    background-color: rgba(255, 218, 3, 0.5);
    border-top: 2px solid #ffda03;
    border-bottom: 2px solid #ffda03;
    box-shadow: 0px 0px 0px 0px darkblue;
    color: #235695;
    margin: 0 0 0 2%;
    z-index: 2; }

.teacher__roster {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
  text-align: center;
  width: 30%;
  margin: 2%; }
  .teacher__roster .roster__header {
    background: #235695;
    color: #f2f2f2;
    font-weight: 700;
    height: 50px;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    width: 100%; }
  .teacher__roster .roster__student li:hover {
    animation: scale 0.25s both;
    background-color: rgba(255, 218, 3, 0.5);
    border-top: 2px solid #ffda03;
    border-bottom: 2px solid #ffda03;
    box-shadow: 0px 0px 0px 0px darkblue;
    color: #235695;
    margin: 0 0 0 2%;
    z-index: 2; }

.research__nav ul {
  display: flex;
  height: 70px;
  justify-content: center;
  margin: 0 auto;
  width: 70%; }
  .research__nav ul .research__nav__item {
    border: 2px solid #235695;
    border-radius: 5px;
    color: #235695;
    font-weight: 700;
    margin: 1%;
    padding-top: 1%;
    padding-bottom: 3%;
    text-align: center;
    width: 20%; }
  .research__nav ul .research__nav__item:hover {
    animation: shake 0.75s cubic-bezier(0.16, 0.07, 0.19, 0.9) both;
    background-color: #ffda03;
    color: #235695; }

.research__container {
  display: flex;
  width: 100%; }

.college__basics {
  align-items: center;
  border: 2px solid #235695;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 2%;
  width: 55%; }
  .college__basics h2 {
    text-align: center;
    width: 75%; }
  .college__basics p {
    font-weight: 700;
    text-align: left;
    width: 100%; }
  .college__basics span {
    font-weight: 400;
    padding: 1%; }
  .college__basics .college__visuals {
    display: flex;
    justify-content: space-between;
    width: 100%; }

.research__form {
  align-items: center;
  border: 2px solid #235695;
  display: flex;
  flex-direction: column;
  margin: 1%;
  max-height: 450px;
  width: 40%; }
  .research__form h2 {
    background-color: #235695;
    color: #f2f2f2;
    margin: 0;
    padding: 3% 0;
    text-align: center;
    width: 100%; }
  .research__form form,
  .research__form input,
  .research__form textarea {
    box-sizing: border-box;
    margin: 2%;
    padding: 2%;
    width: 95%; }
    .research__form form textarea,
    .research__form input textarea,
    .research__form textarea textarea {
      color: #16345c;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      height: 280px; }
  .research__form input:focus,
  .research__form textarea:focus {
    background: white;
    border-radius: 5px;
    outline: none; }

p {
  color: #2d2d2d;
  margin: 1rem 0; }

h1, h2, h3, h4, h5, h6 {
  color: #2d2d2d; }

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h4 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h5 {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

h6 {
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase; }

/*# sourceMappingURL=app.css.map */
